<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRedPill" />
                <binding name="BasicHttpsBinding_IRedPill">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IRedPill1" />
                <binding name="BasicHttpBinding_IRedPill2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
                contract="RedifyService.IRedPill" name="BasicHttpBinding_IRedPill" />
            <endpoint address="https://knockknock.readify.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
                contract="RedifyService.IRedPill" name="BasicHttpsBinding_IRedPill" />
            <endpoint address="http://localhost:54335/RedPill.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRedPill1" contract="MyRedPill.IRedPill"
                name="BasicHttpBinding_IRedPill1" />
            <endpoint address="http://myredpill.cloudapp.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill2"
                contract="CloudService.IRedPill" name="BasicHttpBinding_IRedPill2" />
        </client>
    </system.serviceModel>
</configuration>